@model List<Products>

@{
    ViewData["Title"] = "Admin Products";
}
<style>
    table#drinkTable {
        width: 80%;
        margin-left: 10%;
        margin-right: 60%;
        text-align: left;
    }
</style>

<h1>Drinks</h1>

@foreach (Products prod in Model)
{
    <table id="drinkTable">
        <tr>
            <td width=70%><a href="/Product/Products?ID=@prod.ID">@prod.Name </a></td>
            <td width=20%>@prod.Price.ToString("C")</td>
            <td width=5%><a href="/Admin/Edit(@prod.ID)"><h6>Edit</h6></a></td>
            <td><h6><a href="Admin/Index/Products.Delete(@prod.ID)">Delete</a></h6></td>
        </tr>
    </table>
    <br />
}
<h6><a href="/Admin/Create/">Add an item</a></h6>